<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Delete notification</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body style="background-color: lightgreen">
<div th:insert="fragments/navbar-for-admin::nav"></div>
<div class="container" style="background-color: palegreen; padding: 50px; border-radius:20px; margin-top: 10px">
    <h2 style="text-align: center; font-size: 60pt; font-family: Brush Script MT; color: darkgreen">Notifications</h2>
    <table class="table table-striped" align="center" style="text-align: center; width:100%; background-color: palegreen; border-color: darkgreen;">
        <thead style="margin-top: 10px">
        <tr style="background-color: palegreen; width: 100%; color: darkgreen; font-family: Brush Script MT; font-size: 15pt">
            <th>Topic</th>
            <th>Text</th>
            <th>Class topic</th>
            <th>Class date</th>
            <th>Class time</th>
            <th>Block title</th>
            <th>Course title</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="notification, notificationToDelete : ${notifications}" style="background-color: palegreen; width: 100%; color: darkgreen;">
            <td th:text="${notification.topic}"></td>
            <td th:text="${notification.text}"></td>
            <td th:text="${notification.classTopic}"></td>
            <td th:text="${notification.classDate}"></td>
            <td th:text="${notification.classTime}"></td>
            <td th:text="${notification.blockTitle}"></td>
            <td th:text="${notification.courseTitle}"></td>
            <td>
                <form th:action="@{/main-page/notifications/delete}" method="post">
                    <div align="center">
                        <input type="hidden" th:name="idToDelete" th:value="${notification.id}" />
                        <button style="width: 70%; margin-bottom: 15px; background-color: darkgreen; border-color: darkgreen; color: palegreen" type="submit" class="btn btn-primary">Delete</button>
                    </div>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>