<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Delete class</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <style>
        .custom-navbar {
          background-color: palegreen;
        }
    </style>
</head>
<body>
<div th:insert="fragments/navbar-for-admin::nav"></div>
<div class="container" style="margin-top: 100px; background-color: white; padding: 50px; border-radius:20px;">
    <table align="center" style="text-align: center; width: 100%">
        <thead>
        <tr style="background-color: palegreen; width: 100%; height: 30px">
            <th>Id</th>
            <th>Topic</th>
            <th>Text</th>
            <th>Class topic</th>
            <th>Class date</th>
            <th>Class time</th>
            <th>Block title</th>
            <th>Course title</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="notification : ${notifications}">
            <td th:text="${notification.id}"></td>
            <td th:text="${notification.topic}"></td>
            <td th:text="${notification.text}"></td>
            <td th:text="${notification.classTopic}"></td>
            <td th:text="${notification.classDate}"></td>
            <td th:text="${notification.classTime}"></td>
            <td th:text="${notification.blockTitle}"></td>
            <td th:text="${notification.courseTitle}"></td>
        </tr>
        </tbody>
    </table>

</div>


<div class="container" style="text-align: center; font-style: italic; font: 40pt Georgia; color: darkred">Delete notification</div>


<div class="container" style="margin-top:100px;">
    <div class="row">
        <form th:action="@{/main-page/notifications/delete}" th:object="${notificationToDelete}" method="post">
            <div class="mb-3">
                <label for="notification-id" class="form-label">Notification id</label>
                <input type="text" placeholder="Type id of EXISTING notification" class="form-control" id="notification-id" th:field="*{id}">
            </div>
            <div align="center">
                <button type="submit" class="btn btn-primary" style="width: 40%">Delete</button>
            </div>
        </form>
    </div>
</div>
<br/>
<div align="center">
    <form th:action="@{/main-page/notifications-manager}">
        <button type="submit" class="btn btn-primary" style="width: 40%">Back to the Notifications Manager</button>
    </form>
</div>
<br/>
<div align="center">
    <form th:action="@{/main-page}">
        <button type="submit" class="btn btn-primary" style="width: 40%">Back to main page</button>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>